<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
          
    <xacro:property name="laser_radius" value="0.035" />
    <xacro:property name="laser_height" value="0.023" />

    <link name="lidar_link">
        <visual>
            <geometry>
                <mesh filename="package://gati_bot_model_description/mesh/lidar.dae" scale="1 1 1"/>
            </geometry>
            <origin xyz="0.015 0 -0.035" rpy="1.5708 0 0" />
            <material name="black">
                <color rgba="1 0 0 1" />
            </material>
        </visual>
        <!-- <collision>
            <geometry>
                <cylinder radius="${laser_radius}" length="${laser_height}" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.1" />
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <inertia ixx="0.000038" ixy="0" ixz="0" iyy="0.000038" iyz="0" izz="0.000061" />
        </inertial> -->
    </link> 
<!-- x = -0.045 -->
    <joint name="lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <origin xyz="0.0 0 ${base_height + 0.031}" rpy="0 0 0" />
    </joint>

    <link name="laser_frame"></link>

    <joint name="laser_frame_joint" type="fixed">
        <parent link="lidar_link"/>
        <child link="laser_frame"/>
        <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    </joint>
</robot>
